<header class="main-header">
	<!-- Logo -->
	<a href="/painel" class="logo">
		<!-- mini logo for sidebar mini 50x50 pixels -->
		<span class="logo-mini"><b>QR</b></span>
		<!-- logo for regular state and mobile devices -->
		<span class="logo-lg"><b>QR</b>Pass</span>
	</a>
	<!-- Header Navbar: style can be found in header.less -->
	<nav class="navbar navbar-static-top">
		<!-- Sidebar toggle button-->
		<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
			<span class="sr-only">Fechar Menu</span>
		</a>

		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">
				<!-- Messages: style can be found in dropdown.less-->
				<li>
					<a href="/logout">
						Sair
					</a>
				</li>
			</ul>
		</div>
	</nav>
</header>