<?php
$pagina = $_SERVER['REQUEST_URI'];
$menu_active = explode('/painel', $pagina);

if($menu_active[1] == ''){
	$menu_active = 'home';
}else{
	$menu_active = strtok(strtok($menu_active[1], '?'), '/');
}

?>

<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar" style="height: auto;">
		<ul class="sidebar-menu tree" data-widget="tree">
			<li <?php echo ($menu_active == 'home') ? 'class="active"' : ''; ?>>
				<a href="/painel">
					<i class="fa fa-dashboard"></i> <span>Inicial</span>
				</a>
			</li>

			<li <?php echo ($menu_active == 'eventos') ? 'class="active"' : ''; ?>>
				<a href="/painel/eventos">
					<i class="fa fa-calendar"></i> <span>Eventos</span>
				</a>
			</li>

			<li <?php echo ($menu_active == 'usuarios') ? 'class="active"' : ''; ?>>
				<a href="/painel/usuarios">
					<i class="fa fa-user-plus"></i> <span>Usuários do Sistema</span>
				</a>
			</li>

			<li <?php echo ($menu_active == 'leitor-qr') ? 'class="active"' : ''; ?>>
				<a href="/painel/leitor-qr">
					<i class="fa fa-qrcode"></i> <span>Leitor QR</span>
				</a>
			</li>

			<li <?php echo ($menu_active == 'clientes') ? 'class="active"' : ''; ?>>
				<a href="/painel/clientes">
					<i class="fa fa-users"></i> <span>Clientes</span>
				</a>
			</li>

			<li <?php echo ($menu_active == 'ticket') ? 'class="active"' : ''; ?>>
				<a href="/painel/ticket">
					<i class="fa fa-ticket"></i> <span>Tickets</span>
				</a>
			</li>

			<li <?php echo ($menu_active == 'relatorio-vendas') ? 'class="active"' : ''; ?>>
				<a href="/painel/relatorio-vendas">
					<i class="fa fa-stack-overflow"></i> <span>Relatório de Vendas</span>
				</a>
			</li>

			<li <?php echo ($menu_active == 'alterar-senha') ? 'class="active"' : ''; ?>>
				<a href="/painel/alterar-senha">
					<i class="fa fa-lock"></i> <span>Alterar senha</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- /.sidebar -->
</aside>