<?php
$pagina = $_SERVER['REQUEST_URI'];
$menu_active = explode('/painel', $pagina);

if($menu_active[1] == ''){
	$menu_active = 'home';
}else{
	$menu_active = strtok(strtok($menu_active[1], '?'), '/');
}

?>

<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar" style="height: auto;">
		<ul class="sidebar-menu tree" data-widget="tree">
			<li <?php echo ($menu_active == 'home') ? 'class="active"' : ''; ?>>
				<a href="/painel">
					<i class="fa fa-dashboard"></i> <span>Inicial</span>
				</a>
			</li>

			<li <?php echo ($menu_active == 'eventos-pdv') ? 'class="active"' : ''; ?>>
				<a href="/painel/eventos-pdv">
					<i class="fa fa-calendar"></i> <span>Eventos</span>
				</a>
			</li>

			<li <?php echo ($menu_active == 'vendas') ? 'class="active"' : ''; ?>>
				<a href="/painel/vendas">
					<i class="fa fa-money"></i> <span>Efetuar Venda</span>
				</a>
			</li>

			<li <?php echo ($menu_active == 'relatorio-pdv') ? 'class="active"' : ''; ?>>
				<a href="/painel/relatorio-pdv">
					<i class="fa fa-stack-overflow"></i> <span>Relatório de Vendas</span>
				</a>
			</li>

			<li <?php echo ($menu_active == 'alterar-senha') ? 'class="active"' : ''; ?>>
				<a href="/painel/alterar-senha">
					<i class="fa fa-lock"></i> <span>Alterar senha</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- /.sidebar -->
</aside>