<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar" style="height: auto;">
		<ul class="sidebar-menu tree" data-widget="tree">
			<?php if(in_array($usuario->usu_ust_id, [1, 3])): ?>
			<li>
				<a href="/painel">
					<i class="fa fa-dashboard"></i> <span>Inicial</span>
				</a>
			</li>
			<?php endif; ?>

			<?php if(in_array($usuario->usu_ust_id, [1])): ?>
			<li>
				<a href="/painel/eventos">
					<i class="fa fa-calendar"></i> <span>Eventos</span>
				</a>
			</li>
			<?php endif; ?>

			<?php if(in_array($usuario->usu_ust_id, [3])): ?>
			<li>
				<a href="/painel/eventos-pdv">
					<i class="fa fa-calendar"></i> <span>Eventos</span>
				</a>
			</li>
			<?php endif; ?>

			<?php if(in_array($usuario->usu_ust_id, [1])): ?>
			<li>
				<a href="/painel/usuarios">
					<i class="fa fa-user-plus"></i> <span>Usuários do Sistema</span>
				</a>
			</li>
			<?php endif; ?>

			<?php if(in_array($usuario->usu_ust_id, [1, 2])): ?>
			<li>
				<a href="/painel/leitor-qr">
					<i class="fa fa-qrcode"></i> <span>Leitor QR</span>
				</a>
			</li>
			<?php endif ;?>

			<?php if(in_array($usuario->usu_ust_id, [1])): ?>
			<li>
				<a href="/painel/clientes">
					<i class="fa fa-users"></i> <span>Clientes</span>
				</a>
			</li>
			<?php endif; ?>

			<?php if(in_array($usuario->usu_ust_id, [1])): ?>
			<li>
				<a href="/painel/ticket/pdv">
					<i class="fa fa-stack-overflow"></i> <span>Tickets Vendidos</span>
				</a>
			</li>
			<?php endif; ?>

			<?php if(in_array($usuario->usu_ust_id, [3])): ?>
			<li>
				<a href="/painel/pdv/relatorio-vendas">
					<i class="fa fa-stack-overflow"></i> <span>Relatório de Vendas</span>
				</a>
			</li>
			<?php endif; ?>

			<li>
				<a href="/painel/usuarios/alterar-senha">
					<i class="fa fa-lock"></i> <span>Alterar senha</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- /.sidebar -->
</aside>