<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar" style="height: auto;">
		<ul class="sidebar-menu tree" data-widget="tree">
			<li>
				<a href="/painel/leitor-qr">
					<i class="fa fa-qrcode"></i> <span>Leitor QR</span>
				</a>
			</li>

			<li>
				<a href="/painel/usuarios/alterar-senha">
					<i class="fa fa-lock"></i> <span>Alterar senha</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- /.sidebar -->
</aside>