<?php $numero_v = (empty($numero_v) ? 20 : $numero_v); ?>
<?php if($this->totalItemCount > $numero_v): ?>

	<div class="row-fluid text-center" >
		<ul class="pagination pagination-centered">
		    <li <?php if(!isset($this->previous)) echo 'class="disabled"'?>>
		    	<a href="javascript:void(0)" onClick="pagination('<?php echo $tipo; ?>', '<?php echo $link; ?>', '<?php echo $this->previous;?>');">&laquo; Anterior</a>
		    </li>
		    <?php foreach($this->pagesInRange as $item): ?>
		    	<?php if($this->current == $item): ?>
		    		<input type="hidden" name="pagina_atual" value="<?php echo $item;?>">
		    	<li class="active"><a href="javascript:void(0)"><?php echo $item; ?></a></li>
		    	<?php else: ?>
		    	<li><a href="javascript:void(0)" onClick="pagination('<?php echo $tipo; ?>', '<?php echo $link; ?>', '<?php echo $item;?>');"><?php echo $item; ?></a></li>
		    	<?php endif; ?>
		    <?php endforeach;?>
		    
		    <li <?php if(!isset($this->next)) echo 'class="disabled"'?>>
		    	<a href="javascript:void(0)" onClick="pagination('<?php echo $tipo; ?>', '<?php echo $link; ?>', '<?php echo $this->next;?>');">Próxima &raquo;</a>
		    </li>
	   	</ul>

		<form class="form-inline" id="pagination-form"style="margin-bottom:25px;">
		  	<div class="form-group">
		    	<label style="color: #337ab7">Itens por Página: </label>
		   		<select class="form-control" style="width: 100px;" name="numero_itens" onChange="pagination('<?php echo $tipo; ?>', '<?php echo $link; ?>', '<?php echo $this->current;?>');">
					<option value="20" <?php if($numero_v == "20") echo 'selected'?>>20</option>
					<option value="50" <?php if($numero_v == "50") echo 'selected'?>>50</option>
					<option value="100" <?php if($numero_v == "100") echo 'selected'?>>100</option>
					<option value="500" <?php if($numero_v == "500") echo 'selected'?>>500</option>
					<option value="1000" <?php if($numero_v == "1000") echo 'selected'?>>1000</option>
				</select>
		  	</div>

		  	<div class="form-group" style="color: #337ab7; margin-left:10px; margin-top:5px;">
				Mostrando <label><?php echo $this->firstItemNumber;?></label> - <label><?php if($this->itemCountPerPage*$this->current <= $this->totalItemCount){ echo $this->itemCountPerPage*$this->current; }else{ echo $this->totalItemCount;}?></label> de <label><?php echo $this->totalItemCount;?></label> Itens
			</div>

			<div class="form-group" style="color: #337ab7; margin-left:10px; margin-top:5px;"> 
				Total de paginas: <label><?php echo $this->last?></label>
		  	</div>
		</form>
	</div>
<?php endif;?>