    <p class='rodape' style='border-top:1px solid #ddd; color:#555; font-size:12px; margin-top:20px; padding-top: 10px; text-align:center;'>
        Esse é um e-mail automático. Não é necessário respondê-lo.
    </p>
</div>
