<section class="content-header">
	<h1>
		Leitor QR
	</h1>
	<ol class="breadcrumb">
		<li><a href="/painel"><i class="fa fa-dashboard"></i> Inicial</a></li>
		<li class="active">Leitor QR</li>
	</ol>
</section>

<section class="content">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">

			<div class="box">

				<div id="retorno">
		        </div>

				<div id="video-info" class="callout callout-warning">
	                <h4><i class="icon fa fa-warning"></i> Atenção!</h4>
	                <p>Aguardando leitura de QR Code...</p>
	            </div>
				
				<div class="box-body no-padding text-center">
					<video id="preview" style="max-width: 100%;"></video>
				</div>

			</div>
		</div>
	</div>					
</section>

<script>
document.addEventListener("DOMContentLoaded", event => {
	let scanner = new Instascan.Scanner({ video: document.getElementById('preview'), mirror: false });
	Instascan.Camera.getCameras().then(cameras => {
		scanner.camera = cameras[cameras.length - 1];
		scanner.start();
	}).catch(function(e){
		console.log(e);
		$('#video-info').addClass('callout-danger');
		$('#video-info').removeClass('callout-warning');
		$('#video-info h4').html('<i class="icon fa fa-ban"></i> Erro!');
		$('#video-info p').html('Não foi possível encontrar a câmera, atualize a página. Caso persistir, tente em outro aparelho');
	});

	scanner.addListener('scan', content => {
		if (content.indexOf("https://qrpass.dvdutra.com") >= 0 || content.indexOf("http://projetopospuc.localhost") >= 0){

			$('#video-info').addClass('callout-success');
			$('#video-info').removeClass('callout-warning');
			$('#video-info h4').html('<i class="icon fa fa-check"></i> QR Code Encontrado!');
			$('#video-info p').html('Clique no link a seguir para abrir a página de validação: <a href="'+content+'">'+content+'</a>.');

		}else{
			$('#video-info').addClass('callout-danger');
			$('#video-info').removeClass('callout-warning');
			$('#video-info h4').html('<i class="icon fa fa-ban"></i> QR Code Suspeito!');
			$('#video-info p').html('O link a seguir não é de um QR code disparado pelo sistema QrPass: <a href="'+content+'">'+content+'</a>.');
		}
	});
});
</script>

<script type="text/javascript" src="/js/qrcode-reader.js"></script>