.swal2-popup {
    font-size: 1.6rem !important;
}

@media (min-width: 769px){
    .ticket-box{
        width: 600px !important;
    }
}

label.error {
    color: #F00;
}

#loading{
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99999;
    position: fixed;
}

#bg-loading{
    height: 642px;
    background: rgba(255,255,255,.5);
    width: 100%;
}

#img-loading{
    width: 50%;
    height: 50%;
    overflow: hidden;
    margin: auto;
    padding: 21% 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}

#img-loading img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.fa-xs {
    font-size: .75em;
}

.progress-bar-pink {
    background-color: #9b2573;
}
.bg-pink{
    color: #fff !important;
    background-color: #9b2573 !important;
}

.progress-bar-gray {
    background-color: #4d4444;
}
.bg-gray{
    color: #fff !important;
    background-color: #4d4444 !important;
}

.progress-bar-brown {
    background-color: #64380a;
}
.bg-brown{
    color: #fff !important;
    background-color: #64380a !important;
}

.progress-bar-deepblue {
    background-color: #004C7B;
}
.bg-deepblue{
    color: #fff !important;
    background-color: #004C7B !important;
}

.swal2-styled.swal2-confirm{
    background-color: #3c8dbc;
}

.icheckbox_minimal-blue.checked {
    background-position: -40px 0;
}