<?php
    $numero_v = (isset($dados->numero_itens)) ? $dados->numero_itens : 20;
    $pesquisar_v = (isset($dados->pesquisar)) ? $dados->pesquisar : '';
    $produto_v = (isset($dados->produto)) ? $dados->produto : '';
    $evento_v = (isset($dados->evento)) ? $dados->evento : '';
    $status_v = (isset($dados->status)) ? $dados->status : '';
?>

<section class="content-header">
    <h1>
        Tickets
    </h1>
    <ol class="breadcrumb">
        <li><a href="/painel"><i class="fa fa-dashboard"></i> Inicial</a></li>
        <li class="active">Tickets</li>
    </ol>
</section>
<!-- /.content -->

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="row">
                        <div class="col-md-2 col-sm-6 col-xs-6">
                            <div class="visible-xs" style="margin-top: 10px;"></div>
                            <div class="input-group">
                                <select name="evento" class="form-control" onchange="pagination('ticket', '/painel/ticket', '1');carregaSelectProdutos(false);">
                                    <option value="">Eventos</option>
                                    <?php foreach ($eventos as $evento): ?>
                                        <option value="<?php echo $evento->eve_id; ?>" <?php echo ($evento_v == $evento->eve_id) ? 'selected' : ''; ?>><?php echo $evento->eve_nome; ?></option> 
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <div class="input-group lista-produtos">
                                <select name="produto" class="form-control" onchange="pagination('ticket', '/painel/ticket', '1');">
                                    <option value="">Filtrar Produto</option>
                                    <?php if($evento_v != ''): ?>
                                        <?php foreach ($produtos as $produto): ?>
                                            <option value="<?php echo $produto->evp_id; ?>" <?php echo ($produto_v == $produto->evp_id) ? 'selected' : ''; ?>><?php echo $produto->evp_nome; ?></option>
                                        <?php endforeach; ?>
                                    <?php else: ?>
                                        <option value="">Selecione um evento primeiro...</option>
                                    <?php endif; ?>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-6 col-xs-6">
                            <div class="visible-xs" style="margin-top: 10px;"></div>
                            <div class="input-group">
                                <select name="status" class="form-control" onchange="pagination('ticket', '/painel/ticket', '1');">
                                    <option value="">Filtrar Status</option>
                                    <option value="0" <?php echo ($status_v == 0) ? 'selected' : ''; ?>>Válido</option>
                                    <option value="1" <?php echo ($status_v == 1) ? 'selected' : ''; ?>>Cancelado</option>
                                    <option value="2" <?php echo ($status_v == 2) ? 'selected' : ''; ?>>Já utilizado</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-5 col-sm-12">
                            <form id="filtros" method="post" role="search" onsubmit="return false;">
                                <div class="visible-xs" style="margin-top: 50px;"></div>
                                <div class="input-group">
                                    <input type="search" name="pesquisar" class="form-control pull-right" placeholder="Pesquisar" value="<?php echo $pesquisar_v; ?>">
                                    <div class="input-group-btn">
                                        <span class="btn btn-default" onclick="limpaCampo(this);pagination('ticket', '/painel/ticket', '1');" style="cursor: pointer"><span class="glyphicon glyphicon-remove"></span></span>
                                        <button type="submit" id="btn-search" class="btn btn-default" onclick="pagination('ticket', '/painel/ticket', '1');"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>

                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <?php if(count($tickets) > 0): ?>
                    <table class="table table-hover" style="overflow-x: unset !important;">
                        <tbody>
                            <tr>
                                <th>#</th>
                                <th width="40%">Cliente</th>
                                <th width="40%">Produto</th>
                                <th width="15%">Status</th>
                                <th width="5%" class="text-center">Ações</th>
                            </tr>
                            <?php foreach($tickets as $ticket):?>
                            <tr>
                                <td><?php echo $ticket->tic_id?></td>

                                <td>
                                    <?php echo $ticket->cli_nome; ?>
                                </td>

                                <td><?php echo $ticket->eve_nome.' - '.$ticket->evp_nome?></td>

                                <td>
                                    <?php if($ticket->tic_cancelado): ?>
                                        <span style="color:red;"><i class="fa fa-ban"></i> <b>Compra Cancelada</b></span>
                                    <?php elseif($ticket->tic_liberado_por): ?>
                                        <span style="color:orange;"><i class="fa fa-qrcode"></i> <b>Já utilizado</b></span>
                                    <?php else: ?>
                                        <span style="color:green;"><i class="fa fa-check"></i> <b>Válido</b></span>
                                    <?php endif; ?>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-primary btn-xs" onclick="detalhesTicket(<?php echo $ticket->tic_id; ?>)" class="btn btn-primary">Detalhes</a>
                                </td>
                            </tr>
                            <?php endforeach;?>
                        </tbody>
                    </table>

                    <?php echo $this->paginationControl($tickets, 'Sliding', 'partials/painel-admin/paginacao.phtml', array('tipo' => 'ticket', 'link' => '/painel/ticket', 'numero_v' => $numero_v)); ?>

                    <?php else: ?>
                        <div class="col-md-12">
                            <div class="callout callout-info">
                               Nenhum dado encontrado...
                            </div>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal" id="modal" tabindex="-1" role="dialog" aria-hidden="true"></div>