<div class="modal-dialog modal-lg" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="exampleModalLabel">Detalhes Ticket #<?php echo $ticket->tic_id; ?></h4>
		</div>

		<div class="modal-body">
			<div class="row">
				<div class="col-md-12" style="margin-bottom: 5px;">
					<?php if($ticket->tic_cancelado == 0 && !$ticket->tic_liberado_por): ?>
	                    <a class="btn btn-primary btn-xs" onclick="reenviarEmailTicket(<?php echo $ticket->tic_id; ?>)" class="btn btn-primary">Reenviar QR Code</a>

	                	<a class="btn btn-primary btn-xs" onclick="cancelarTicket(<?php echo $ticket->tic_id; ?>)" class="btn btn-primary">Cancelar QR Code</a>
	                <?php endif; ?>
	            </div>
			</div>

			<div class="row">
				<?php if($ticket->tic_cancelado == 1): ?>
					<div class="col-xs-12 col-md-12">
						<div class="callout callout-danger" style="border-color: #555299 ; background-color: #605ca8 !important;">
			                <h4><i class="icon fa fa-ban"></i> ATENÇÃO!</h4>
			                <p>A compra deste Ticket foi cancelada.</p>
			            </div>
			        </div>
	            <?php endif; ?>
				<div class="col-xs-12 col-md-6">
					<?php // DADOS DO CLIENTE ?>
					<h4><b>Dados do Cliente</b></h4>
				    <p><b>Cliente</b>: <?php echo $ticket->cli_nome; ?></p>
				    <p><b>Cliente E-mail</b>: <?php echo $ticket->cli_email; ?></p>

			    	<p><b>Telefone</b>: 
			    		<?php if($ticket->cli_ddd && $ticket->cli_telefone): ?>
                            <a href="http://api.whatsapp.com/send?1=pt_BR&amp;phone=55<?php echo $ticket->cli_ddd.$ticket->cli_telefone; ?>" target="_blank">
                                <i class="fa fa-whatsapp"></i> <b>(<?php echo $ticket->cli_ddd; ?>) <?php echo $ticket->cli_telefone; ?></b>
                            </a>
                        <?php else: ?>
                            Telefone não cadastrado
                        <?php endif; ?> 
			    	</p>

				    <p><b>Documento</b>: <span class="cpf-mask"><?php echo $ticket->cli_cpf; ?></span></p>
				</div>

				<div class="col-xs-12 col-md-6">

				    <?php // DADOS DA COMPRA ?>
				    <h4><b>Dados da Compra</b></h4>
				    <p><b>Evento</b>: <?php echo $ticket->eve_nome; ?></p>
				    <p><b>Entrada</b>: <?php echo $ticket->evp_nome; ?></p>
				    <p><b>Status</b>:
					    <?php if($ticket->tic_cancelado): ?>
	                        <span style="color:red;"><i class="fa fa-ban"></i> <b>Compra Cancelada</b></span>
                        <?php elseif($ticket->tic_liberado_por): ?>
                            <span style="color:orange;"><i class="fa fa-qrcode"></i> <b>Já utilizado</b></span>
	                    <?php else: ?>
	                        <span style="color:green;"><i class="fa fa-check"></i> <b>Válido</b></span>
	                    <?php endif; ?>
				    </p>
				</div>
	        </div>

	        <div class="row">
				<div class="col-xs-12 col-md-12">
					<center>
	            		<img src="https://chart.googleapis.com/chart?chs=200x200&cht=qr&chl=https://www.ticketsonelife.com/ticket/entrada/<?php echo $ticket->tic_id;?>&choe=UTF-8" />

						<?php if($ticket->tic_liberado_por):?>
							<p>Liberado por <b><?php echo $ticket->liberado_por; ?></b> às <b><?php echo date('d/m/Y H:i:s' ,strtotime($ticket->tic_data_entrada));?></b></p>	
						<?php endif;?>
	            	</center>
	            </div>

	        </div>
		</div>
	</div>
</div>