<section class="content">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">

			<div class="box">

				<div class="callout callout-danger">
	                <h4><i class="icon fa fa-ban"></i> ATENÇÃO!</h4>
	                <p>QR Code Inválido!</p>
	            </div>

				<div class="box-body">

				    <div class="row text-center">
						<a class="btn btn-primary" href="/painel/leitor-qr">
			                <i class="fa fa-arrow-left"></i> Voltar para o Leitor QR
			            </a>
			        </div>
				</div>

			</div>
		</div>
	</div>					
</section>