<section class="content">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">

			<div class="box">

				<?php if($ticket->tic_cancelado == 1): ?>
					<div class="callout callout-danger" style="border-color: #555299 ; background-color: #605ca8 !important;">
		                <h4><i class="icon fa fa-ban"></i> ATENÇÃO!</h4>
		                <p>A compra deste Ticket foi cancelada.</p>
		            </div>
				<?php elseif(!$ticket->tic_liberado_por): ?>
					<div class="callout callout-success">
		                <h4><i class="icon fa fa-check"></i> QR Code Válido!</h4>
		            </div>
				<?php else: ?>
					<div class="callout callout-danger">
		                <h4><i class="icon fa fa-ban"></i> ATENÇÃO!</h4>
		                <p>Essa entrada já foi liberada anteriormente</p>
		            </div>
				<?php endif; ?>

				<div class="box-body">
					
					
					<p><b>Nome</b>: <?php echo $ticket->cli_nome; ?></p>
				    <p><b>Documento</b>: <span class="cpf-mask"><?php echo $ticket->cli_cpf; ?></span></p>
					<p><b>Ponto de Venda</b>: <?php echo $ticket->pdv_nome; ?>

				    <p><b>Evento</b>: <?php echo $evento->eve_nome; ?></p>
				    <p><b>Entrada</b>: <?php echo $ticket->evp_nome; ?></p>

					<?php if($ticket->tic_liberado_por):?>
						<p>Liberado por <b><?php echo $ticket->liberado_por; ?></b> as <b><?php echo date('d/m/Y H:i:s' ,strtotime($ticket->tic_data_entrada));?></b></p>	
					<?php endif;?>
					
				    <div class="row text-center">
				    	<?php if(!$ticket->tic_liberado_por && $ticket->tic_cancelado == 0): ?>
					    <a class="btn btn-app" style="background-color: #3c8dbc !important; border-color: #367fa9 !important; color: white !important; cursor:pointer;" onclick="liberarEntrada(<?php echo $ticket->tic_id; ?>);">
			                <i class="fa fa-thumbs-up"></i> Liberar Entrada
			            </a>
			            <?php else: ?>
			            	<?php if(!isset($leitor) || $leitor == true): ?>
								<a class="btn btn-primary" href="/painel/leitor-qr">
					                <i class="fa fa-arrow-left"></i> Voltar para o Leitor QR
					            </a>
					        <?php endif; ?>
						<?php endif; ?>
			        </div>
				</div>

			</div>
		</div>
	</div>					
</section>