<html><head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

	<title>Entrada CALDAS PRIVILÈGE</title>

	<link rel="stylesheet" href="/plugins/adminlte-2.4.0/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/plugins/adminlte-2.4.0/bower_components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/plugins/adminlte-2.4.0/bower_components/Ionicons/css/ionicons.min.css">
	<link rel="stylesheet" href="/plugins/adminlte-2.4.0/dist/css/AdminLTE.min.css">
	<link rel="stylesheet" href="/plugins/adminlte-2.4.0/plugins/iCheck/square/blue.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
	<link rel="stylesheet" href="/css/style.css">

	<link rel="apple-touch-icon" sizes="57x57" href="/img/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body class="hold-transition login-page" style="height: 0;">
<div class="login-box ticket-box">
	<div class="login-logo">
		<img src="/img/qr-code.png" alt="User Image" style="border-radius: 50%; width: 70px; height: 70px; background: white;">
		<b>QR Pass</b>
	</div>

	<div class="login-box-body">

		<div class="alert alert-warning alert-dismissible">
	        <h4><i class="icon fa fa-warning"></i> Atenção!</h4>
	        Essa entrada é NOMINAL e INTRANSFERÍVEL. Confira os dados abaixo e em caso de dúvidas ou necessidade de trocar o cliente detentor do passe entre em contato com o suporte via e-mail suporte@qrpass.com
	    </div>

		<p><b>Nome</b>: <?php echo $ticket->cli_nome; ?></p>
	    <p><b>Documento</b>: <span class="cpf-mask"><?php echo $ticket->cli_cpf; ?></span></p>
    	<p><b>Comprado em</b>: <?php echo $ticket->pdv_nome; ?></p>
	    <p><b>Entrada</b>: <?php echo $ticket->eve_nome.' - '.$ticket->evp_nome; ?></p>

	</div>
</div>

<script src="/plugins/adminlte-2.4.0/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.mask.min.js"></script>
<script>$('.cpf-mask').mask('000.000.000-00');</script>

</body></html>