<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>QrPass</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="/plugins/adminlte-2.4.0/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/plugins/adminlte-2.4.0/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/plugins/adminlte-2.4.0/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/plugins/adminlte-2.4.0/dist/css/AdminLTE.min.css">

    <link rel="stylesheet" href="/css/style.css">

    <!-- Google Font -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<style>
    .errorpage{
        display: flex;
        flex-direction: column;
        color: #fff;
        text-align: center;
        margin-top: 100px;
        align-items: center
    }

    .error-link {
        color: #fff;
        text-decoration: underline;
    }
    .error-link:hover {
        color: #fff;
    }

</style>

<body class="hold-transition login-page" style="height: 0; background: #d2d6de;">
    <div class="errorpage" style="color: #000">
        <div class="login-logo">
            <img src="/img/qr-code.png" alt="User Image" style="border-radius: 50%; width: 70px; height: 70px; background: white;">
            <b>QR Pass</b>
        </div>
        <h1>Página não encontrada</h1>
        <h2>A página que você procura não existe.</h2>
    </div>
</body>
</html>
<?php exit();?>