<section class="content-header">
    <h1>
        <a title="Voltar" href="/painel/eventos-pdv"><i class="fa fa-arrow-left fa-xs"></i></a> Tickets do Evento - <?php echo $evento->eve_nome; ?>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/painel"><i class="fa fa-dashboard"></i> Inicial</a></li>
        <li><a href="/painel/eventos-pdv"><i class="fa fa-calendar"></i> Eventos Disponíveis</a></li>
        <li class="active">Tickets do Evento</li>
    </ol>
</section>
<!-- /.content -->

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">

                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <?php if(count($evento_produtos) > 0): ?>
                    <table class="table table-hover" style="overflow-x: unset !important;">
                        <tbody>
                            <tr>
                                <th width="70%">Produto</th>
                                <th width="15%" class="text-center">Preço</th>
                                <th width="15%" class="text-center">Ações</th>
                            </tr>
                            <?php foreach($evento_produtos as $evento_produto):?>
                            <tr>
                                <td><?php echo $evento_produto->evp_nome?></td>
                                <td class="text-center"><?php echo $evento_produto->evp_preco; ?></td>
                                <td class="text-center">
                                    <a href="/painel/vendas?evento=<?php echo $evento->eve_id; ?>&produto=<?php echo $evento_produto->evp_id; ?>" class="btn btn-primary btn-xs">Vender</a>
                                </td>
                            </tr>
                            <?php endforeach;?>
                        </tbody>
                    </table>

                    <?php else: ?>
                        <div class="col-md-12">
                            <div class="callout callout-info">
                               Nenhum dado encontrado...
                            </div>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
        </div>
    </div>
</section>