<?php
    $evento_v = (isset($dados->evento)) ? $dados->evento : '';
    $produto_v = (isset($dados->produto)) ? $dados->produto : '';
?>

<section class="content-header">
    <h1>
       Efetuar Venda
    </h1>
    <ol class="breadcrumb">
        <li><a href="/painel"><i class="fa fa-dashboard"></i> Inicial</a></li>
        <li class="active">Efetuar Venda</li>
    </ol>
</section>
<!-- /.content -->

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <?= $this->form()->openTag($form)?>
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-6">
                            <?= $this->formInput($form->get('cli_nome'))?>
                        </div>
                        <div class="form-group  col-xs-12 col-sm-6">
                            <?= $this->formInput($form->get('cli_email'))?>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-6">
                            <?= $this->formInput($form->get('cli_cpf'))?>
                        </div>
                        <div class="form-group col-md-2">
                            <?php echo $this->formInput($form->get('cli_ddd')); ?>
                            <?php echo $this->formElementErrors($form->get('cli_ddd')); ?>
                        </div>
                        <div class="form-group col-md-4">
                            <?php echo $this->formInput($form->get('cli_telefone')); ?>
                            <?php echo $this->formElementErrors($form->get('cli_telefone')); ?>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-6">
                            <select name="venda_evento" class="form-control" onchange="carregaSelectProdutos(true);" required>
                                <option value="">Eventos</option>
                                <?php foreach ($eventos as $evento): ?>
                                    <option value="<?php echo $evento->eve_id; ?>" <?php echo ($evento_v == $evento->eve_id) ? 'selected' : ''; ?>><?php echo $evento->eve_nome; ?></option> 
                                <?php endforeach; ?>
                            </select>
                        </div>
                        <div class="form-group col-xs-12 col-sm-6 lista-produtos">
                            <select name="venda_produto" class="form-control" required>
                                <option value="">Produto</option>
                                <?php foreach ($produtos as $produto): ?>
                                    <option value="<?php echo $produto->evp_id; ?>" <?php echo ($produto_v == $produto->evp_id) ? 'selected' : ''; ?>><?php echo $produto->evp_nome; ?></option> 
                                <?php endforeach; ?>

                                <?php if(count($produtos) == 0): ?>
                                    <option value="">Selecione um evento primeiro...</option>
                                <?php endif; ?>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button class="btn btn-primary pull-right" type="submit">Salvar</button>
                </div>
            </div>
            <?= $this->form()->closeTag()?>
        </div>
    </div>
</section>