<?php
    $numero_v = (isset($dados->numero_itens)) ? $dados->numero_itens : 20;
    $pesquisar_v = (isset($dados->pesquisar)) ? $dados->pesquisar : '';
?>

<section class="content-header">
    <h1>
        Clientes
    </h1>
    <ol class="breadcrumb">
        <li><a href="/painel"><i class="fa fa-dashboard"></i> Inicial</a></li>
        <li class="active">Clientes</li>
    </ol>
</section>
<!-- /.content -->

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="row">

                        <div class="col-md-5 col-sm-12">
                            <form id="filtros" method="post" role="search" onsubmit="return false;">
                                <div class="visible-xs" style="margin-top: 10px;"></div>
                                <div class="input-group">
                                    <input type="search" name="pesquisar" class="form-control pull-right" placeholder="Pesquisar" value="<?php echo $pesquisar_v; ?>">
                                    <div class="input-group-btn">
                                        <span class="btn btn-default" onclick="limpaCampo(this);pagination('cliente', '/painel/clientes', '1');" style="cursor: pointer"><span class="glyphicon glyphicon-remove"></span></span>
                                        <button type="submit" id="btn-search" class="btn btn-default" onclick="pagination('cliente', '/painel/clientes', '1');"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="visible-xs" style="margin-top: 5px;"></div>

                    </div>

                </div>

                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <?php if(count($clientes) > 0): ?>
                    <table class="table table-hover" style="overflow-x: unset !important;">
                        <tbody>
                            <tr>
                                <th>#</th>
                                <th width="30%">Nome</th>
                                <th width="30%">E-mail</th>
                                <th width="15%">CPF</th>
                                <th width="15%">Telefone</th>
                                <th width="15%" class="text-center">Ações</th>
                            </tr>
                            <?php foreach($clientes as $cliente):?>
                            <tr>
                                <td><?php echo $cliente->cli_id?></td>
                                <td><?php echo $cliente->cli_nome?></td>
                                <td><?php echo $cliente->cli_email?></td>
                                <td><?php echo $cliente->cli_cpf?></td>
                                <td><?php echo '('.$cliente->cli_ddd.') '.$cliente->cli_telefone?></td>
                                <td class="text-center">
                                    <a href="/painel/clientes/editar/<?= $cliente->cli_id?>" class="btn btn-primary btn-xs">Editar</a>
                                </td>
                            </tr>
                            <?php endforeach;?>
                        </tbody>
                    </table>

                    <?php echo $this->paginationControl($clientes, 'Sliding', 'partials/painel-admin/paginacao.phtml', array('tipo' => 'cliente', 'link' => '/painel/clientes', 'numero_v' => $numero_v)); ?>

                    <?php else: ?>
                        <div class="col-md-12">
                            <div class="callout callout-info">
                               Nenhum dado encontrado...
                            </div>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
        </div>
    </div>
</section>
