<table style="font-family:Trebuchet MS;font-size:11px;color:black" width="600" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center">
    <tbody>
        <tr>
            <td bgcolor="#ffffff" align="center" height="100%" valign="top" width="100%" style="padding: 10px 0;">
                <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" style="max-width: 600px;">
                    <tr>
                        <td align="center" valign="top" style="font-size: 0; padding: 10px 0;">
                            <div>
                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                    <tr>
                                        <td style="padding: 0px 10px; text-align: left; font-size: 14px; line-height: 22px; width: 100%;">
        									<p>Olá <strong style="font-size: 16px;"><?php echo $cliente->cli_nome; ?></strong>,</p>
        									<p>Segue o seu QR CODE oficial para entrar no evento, único e intransferível.</p>
        									<p style="text-align: center;">
        										<img src="https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl=https://qrpass.dvdutra.com/ticket/entrada/<?php echo $ticket->tic_id;?>&choe=UTF-8" />
        									</p>
                                            <p>
                                                <b>Nome:</b> <?php echo $cliente->cli_nome; ?><br>
                                                <b>CPF:</b> <?php echo $cliente->cli_cpf; ?><br>
                                                <b>Ingresso:</b> <?php echo $produto->evp_nome; ?>
                                            </p>
                                            <p>Atenciosamente, Equipe <?php echo $evento->eve_nome; ?>.</p>
        								</td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>