<div id='area' style='margin:0 auto; font-family: Arial, Helvetica, sans-serif; width:550px;'>
	<p style='font-size: 12px; line-height: 16px; margin:10px 10px 16px;'>
		<strong>Olá,</strong>
	</p>
</div>