<tr>
    <td bgcolor="#ffffff" align="center" height="100%" valign="top" width="100%" style="padding: 10px 0;">
        <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" style="max-width: 600px;">
            <tr>
                <td align="center" valign="top" style="font-size: 0; padding: 10px 0;">
                    <div>
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td style="padding: 0px 10px; text-align: left; font-size: 14px; line-height: 22px; width: 100%;">
									<strong style="font-size: 16px;">Olá <?php echo $nome; ?>,</strong>
									<p>Você foi cadastrado no site qrpass.dvdutra.com/projetopospuc.</p>
									<p>Para acessar o site use este e-mail juntamente com essa senha <?php echo $senha; ?></p>
								</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </td>
</tr>