<section class="content-header">
    <h1>
       <a title="Voltar" href="/painel"><i class="fa fa-arrow-left fa-xs"></i></a> Alterar senha
    </h1>
    <ol class="breadcrumb">
        <li><a href="/painel"><i class="fa fa-dashboard"></i> Inicial</a></li>
        <li class="active">Alterar senha</li>
    </ol>
</section>
<!-- /.content -->

<section class="content">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <?= $this->form()->openTag($form_senha)?>
            <div class="box">
                <div class="box-body">
                <?= $this->form()->openTag($form_senha)?>
                    <div class="form-group">
                        <?= $this->formLabel($form_senha->get('nova_senha'))?>
                        <?= $this->formInput($form_senha->get('nova_senha'))?>
                    </div>
                    <div class="form-group">
                        <?= $this->formLabel($form_senha->get('confirmar_senha'))?>
                        <?= $this->formInput($form_senha->get('confirmar_senha'))?>
                    </div>
                    <div class="form-group">
                        <?= $this->formLabel($form_senha->get('usu_senha'))?>
                        <?= $this->formInput($form_senha->get('usu_senha'))?>
                    </div>
                </div>
                <div class="box-footer">
                    <button class="btn btn-primary pull-right" type="submit">Salvar</button>
                </div>
            </div>
            <?= $this->form()->closeTag()?>
        </div>
    </div>
</section>