<section class="content-header">
    <h1>
       <a title="Voltar" href="/painel/usuarios"><i class="fa fa-arrow-left fa-xs"></i></a> <?php echo $textButton?> Usuário
    </h1>
    <ol class="breadcrumb">
        <li><a href="/painel"><i class="fa fa-dashboard"></i> Inicial</a></li>
        <li><a href="/painel/usuarios"><i class="fa fa-user-plus"></i> Usuários</a></li>
        <li class="active"><?php echo $textButton?> Usuário</li>
    </ol>
</section>
<!-- /.content -->

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <?= $this->form()->openTag($form)?>
            <div class="box">
                <div class="box-body">
                    <?= $this->formInput($form->get('usu_id'))?>
                    <div class="form-group col-xs-12 col-sm-6">
                        <?= $this->formLabel($form->get('usu_nome'))?>
                        <?= $this->formInput($form->get('usu_nome'))?>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6">
                        <?= $this->formLabel($form->get('usu_email'))?>
                        <?= $this->formInput($form->get('usu_email'))?>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6">
                        <?= $this->formLabel($form->get('usu_ust_id'))?>
                        <?= $this->formSelect($form->get('usu_ust_id'))?>
                    </div>                    
                </div>
                <div class="box-footer">
                    <button class="btn btn-primary pull-right" type="submit"><?php echo $textButton?></button>
                </div>
            </div>
            <?= $this->form()->closeTag()?>
        </div>
    </div>
</section>