<?php
    $numero_v = (isset($dados->numero_itens)) ? $dados->numero_itens : 20;
    $pesquisar_v = (isset($dados->pesquisar)) ? $dados->pesquisar : '';
    $status_v = (isset($dados->status)) ? $dados->status : '';
    $tipo_v = (isset($dados->tipo)) ? $dados->tipo : '';
?>

<section class="content-header">
    <h1>
        Usuários
    </h1>
    <ol class="breadcrumb">
        <li><a href="/painel"><i class="fa fa-dashboard"></i> Inicial</a></li>
        <li class="active">Usuários</li>
    </ol>
</section>
<!-- /.content -->

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="row">

                        <div class="col-md-3 col-sm-12">
                            <div class="box-tools">
                                <div class="visible-sm visible-md visible-lg visible-xs">
                                    <a href="/painel/usuarios/cadastrar" class="btn btn-primary">Cadastrar Usuário</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5 col-sm-12">
                            <form id="filtros" method="post" role="search" onsubmit="return false;">
                                <div class="visible-xs" style="margin-top: 10px;"></div>
                                <div class="input-group">
                                    <input type="search" name="pesquisar" class="form-control pull-right" placeholder="Pesquisar" value="<?php echo $pesquisar_v; ?>">
                                    <div class="input-group-btn">
                                        <span class="btn btn-default" onclick="limpaCampo(this);pagination('usuario', '/painel/usuarios', '1');" style="cursor: pointer"><span class="glyphicon glyphicon-remove"></span></span>
                                        <button type="submit" id="btn-search" class="btn btn-default" onclick="pagination('usuario', '/painel/usuarios', '1');"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="col-md-2 col-sm-6 col-xs-6">
                            <div class="visible-xs" style="margin-top: 10px;"></div>
                            <select name="status" class="form-control" onchange="pagination('usuario', '/painel/usuarios', '1');">
                                <option value="">Status</option>
                                <option value="1" <?php echo ($status_v == '1') ? 'selected' : ''; ?>>Ativo</option> 
                                <option value="0" <?php echo ($status_v == '0') ? 'selected' : ''; ?>>Inativo</option> 
                            </select>
                        </div>

                        <div class="col-md-2 col-sm-6 col-xs-6">
                            <div class="visible-xs" style="margin-top: 10px;"></div>
                            <select name="tipo" class="form-control" onchange="pagination('usuario', '/painel/usuarios', '1');">
                                <option value="">Tipo de Usuário</option>
                                <?php foreach ($usuario_tipo as $tipo): ?>
                                    <option value="<?=$tipo->ust_id;?>" <?php echo ($tipo_v == $tipo->ust_id) ? 'selected' : ''; ?>><?php echo $tipo->ust_nome; ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>

                        <div class="visible-xs" style="margin-top: 5px;"></div>

                    </div>

                </div>

                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <?php if(count($usuarios) > 0): ?>
                    <table class="table table-hover" style="overflow-x: unset !important;">
                        <tbody>
                            <tr>
                                <th>#</th>
                                <th width="50%">Usuario</th>
                                <th width="10%" class="text-center">Tipo</th>
                                <th width="10%" class="text-center">Status</th>
                                <th width="30%" class="text-center">Ações</th>
                            </tr>
                            <?php foreach($usuarios as $usuario):?>
                            <tr>
                                <td><?php echo $usuario->usu_id?></td>
                                <td><?php echo $usuario->usu_nome?></td>
                                <td class="text-center"><?php echo $usuario->ust_nome?></td>
                                <td class="text-center"><?php echo ($usuario->usu_ativo) ? 
                                    '<span style="color:green;"><i class="fa fa-check"></i> <b>Ativo</b></span>' : 
                                    '<span style="color:red;"><i class="fa fa-times"></i> <b>Inativo</b></span>'?>
                                </td>
                                <td class="text-center">
                                    <a href="/painel/usuarios/editar/<?= $usuario->usu_id?>" class="btn btn-primary btn-xs">Editar</a>

                                    <?php if($usuario->usu_ust_id == 3): ?>
                                    <a href="#" class="btn btn-primary btn-xs" onclick="modalRelacionarEventos(<?php echo $usuario->usu_id; ?>);">Eventos</a>
                                    <?php endif; ?>

                                    <a class="btn <?php echo ($usuario->usu_ativo) ? 'btn-danger' : 'btn-success'?> btn-xs" onClick="ativarInativarUsuario('<?=$usuario->usu_id?>', '<?=$usuario->usu_ativo?>')">
                                        <?php echo ($usuario->usu_ativo) ? 'Inativar' : 'Ativar'?> Usuário
                                    </a>
                                </td>
                            </tr>
                            <?php endforeach;?>
                        </tbody>
                    </table>

                    <?php echo $this->paginationControl($usuarios, 'Sliding', 'partials/painel-admin/paginacao.phtml', array('tipo' => 'usuario', 'link' => '/painel/usuarios', 'numero_v' => $numero_v)); ?>

                    <?php else: ?>
                        <div class="col-md-12">
                            <div class="callout callout-info">
                               Nenhum dado encontrado...
                            </div>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal" tabindex="-1" role="dialog" id="modal-usuario-evento"></div>