<?php
    $numero_v = (isset($dados->numero_itens)) ? $dados->numero_itens : 20;
    $pesquisar_v = (isset($dados->pesquisar)) ? $dados->pesquisar : '';
    $status_v = (isset($dados->status)) ? $dados->status : '';
?>

<div class="modal-dialog modal-lg" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="exampleModalLabel">Eventos Relacionados com <strong><?php echo $usuario->usu_nome; ?></strong></h4>
		</div>

		<div class="modal-body">
			<div class="row">

                <div class="col-md-5 col-sm-12">
                    <form id="filtros" method="post" role="search" onsubmit="return false;">
                        <div class="visible-xs" style="margin-top: 10px;"></div>
                        <div class="input-group">
                            <input type="search" name="pesquisar" class="form-control pull-right" placeholder="Pesquisar Eventos" value="<?php echo $pesquisar_v; ?>">
                            <div class="input-group-btn">
                                <span class="btn btn-default" onclick="limpaCampo(this);modalRelacionarEventos(<?php echo $usuario->usu_id; ?>);" style="cursor: pointer"><span class="glyphicon glyphicon-remove"></span></span>
                                <button type="submit" id="btn-search" class="btn btn-default" onclick="modalRelacionarEventos(<?php echo $usuario->usu_id; ?>);"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="visible-xs" style="margin-top: 10px;"></div>
                    <select name="status" class="form-control" onchange="modalRelacionarEventos(<?php echo $usuario->usu_id; ?>);">
                        <option value="">Filtrar Status</option>
                        <option value="1" <?php echo ($status_v == '1') ? 'selected' : ''; ?>>Eventos Ativos</option> 
                        <option value="0" <?php echo ($status_v == '0') ? 'selected' : ''; ?>>Eventos Inativos</option> 
                    </select>
                </div>

                <div class="visible-xs" style="margin-top: 5px;"></div>

            </div>

			<?php if(count($eventos) > 0): ?>
            <table class="table table-hover" style="overflow-x: unset !important;">
                <tbody>
                    <tr>
                        <th>#</th>
                    	<th width="5%" class="text-center">Relacionado?</th>
                        <th width="70%">Evento</th>
                        <th width="15%" class="text-center">Status do Evento</th>
                    </tr>
                    <?php foreach($eventos as $evento):?>
                    <tr>
                        <td><?php echo $evento->eve_id?></td>
                    	<td class="text-center">
                    		<label>
								<input type="checkbox" class="minimal" name="check-evento-<?php echo $evento->eve_id; ?>" <?php echo (in_array($evento->eve_id, $usuario_eventos)) ? 'checked' : ''; ?> value="<?php echo $evento->eve_id; ?>">
							</label>
						</td>
                        <td><?php echo $evento->eve_nome?></td>
                        <td class="text-center"><?php echo ($evento->eve_ativo) ? 
                            '<span style="color:green;"><i class="fa fa-check"></i> <b>Ativo</b></span>' : 
                            '<span style="color:red;"><i class="fa fa-times"></i> <b>Inativo</b></span>'?>
                        </td>
                    </tr>
                    <?php endforeach;?>
                </tbody>
            </table>

            <?php echo $this->paginationControl($eventos, 'Sliding', 'partials/painel-admin/paginacao.phtml', array('tipo' => 'evento', 'link' => '/painel/eventos', 'numero_v' => $numero_v)); ?>

            <?php else: ?>
                <div class="col-md-12">
                    <div class="callout callout-info">
                       Nenhum evento encontrado...
                    </div>
                </div>
            <?php endif; ?>
		</div>
        <div class="modal-footer">
            
		</div>
	</div>
</div>