<?php
    $numero_v = (isset($dados->numero_itens)) ? $dados->numero_itens : 20;
    $pesquisar_v = (isset($dados->pesquisar)) ? $dados->pesquisar : '';
    $status_v = (isset($dados->status)) ? $dados->status : '';
    $data_inicio_v = (isset($dados->data_inicio)) ? $dados->data_inicio : '';
    $data_fim_v = (isset($dados->data_fim)) ? $dados->data_fim : '';
?>

<section class="content-header">
    <h1>
        Relatório Vendas
    </h1>
    <ol class="breadcrumb">
        <li><a href="/painel"><i class="fa fa-dashboard"></i> Inicial</a></li>
        <li class="active">Relatório Vendas</li>
    </ol>
</section>
<!-- /.content -->

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="row">

                        <div class="col-md-5 col-sm-12">
                            <form id="filtros" method="post" role="search" onsubmit="return false;">
                                <div class="visible-xs" style="margin-top: 10px;"></div>
                                <div class="input-group">
                                    <input type="search" name="pesquisar" class="form-control pull-right" placeholder="Pesquisar" value="<?php echo $pesquisar_v; ?>">
                                    <div class="input-group-btn">
                                        <span class="btn btn-default" onclick="limpaCampo(this);pagination('relatorio-vendas', '/painel/relatorio-vendas', '1');" style="cursor: pointer"><span class="glyphicon glyphicon-remove"></span></span>
                                        <button type="submit" id="btn-search" class="btn btn-default" onclick="pagination('relatorio-vendas', '/painel/relatorio-vendas', '1');"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="col-md-2 col-sm-6 col-xs-6">
                            <div class="visible-xs" style="margin-top: 10px;"></div>
                            <select name="status" class="form-control" onchange="pagination('relatorio-vendas', '/painel/relatorio-vendas', '1');">
                                <option value="">Status</option>
                                <option value="1" <?php echo ($status_v == '1') ? 'selected' : ''; ?>>Ativo</option> 
                                <option value="0" <?php echo ($status_v == '0') ? 'selected' : ''; ?>>Inativo</option> 
                            </select>
                        </div>

                        <div class="col-md-2 col-sm-6 col-xs-6">
                            <div class="input-group date">
                                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                <input type="text" class="form-control pull-right" id="data_inicio" placeholder="Data Início" onchange="pagination('relatorio-vendas', '/painel/relatorio-vendas', '1');" value="<?php echo $data_inicio_v; ?>" name="data_inicio">
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-6 col-xs-6">
                            <div class="input-group date">
                                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                <input type="text" class="form-control pull-right" id="data_fim" placeholder="Data Fim" onchange="pagination('relatorio-vendas', '/painel/relatorio-vendas', '1');" value="<?php echo $data_fim_v; ?>" name="data_fim">
                            </div>
                        </div>

                        <div class="visible-xs" style="margin-top: 5px;"></div>

                    </div>

                </div>

                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <?php if(count($resultados) > 0): ?>
                    <table class="table table-hover" style="overflow-x: unset !important;">
                        <tbody>
                            <tr>
                                <th width="40%">Ponto de Venda</th>
                                <th width="20%" class="text-center">Tickets Vendidos</th>
                                <th width="20%" class="text-center">Total R$ Vendido</th>
                                <th width="10%" class="text-center">Status</th>
                                <th width="10%" class="text-center">Ações</th>
                            </tr>
                            <?php foreach($resultados as $resultado):?>
                            <tr>
                                <td><?php echo $resultado->usu_nome?></td>
                                <td class="text-center"><?php echo $resultado->totalAtivos; ?></td>
                                <td class="text-center"><?php echo $resultado->soma; ?></td>
                                <td class="text-center"><?php echo ($resultado->usu_ativo) ? 
                                    '<span style="color:green;"><i class="fa fa-check"></i> <b>Ativo</b></span>' : 
                                    '<span style="color:red;"><i class="fa fa-times"></i> <b>Inativo</b></span>'?>
                                </td>
                                <td class="text-center">
                                    <a href="/painel/relatorio-vendas/vendedor/<?php echo $resultado->usu_id; ?>" class="btn btn-primary btn-xs">Detalhes</a>
                                </td>
                            </tr>
                            <?php endforeach;?>
                        </tbody>
                    </table>

                    <?php echo $this->paginationControl($resultados, 'Sliding', 'partials/painel-admin/paginacao.phtml', array('tipo' => 'relatorio-vendas', 'link' => '/painel/relatorio-vendas', 'numero_v' => $numero_v)); ?>

                    <?php else: ?>
                        <div class="col-md-12">
                            <div class="callout callout-info">
                               Nenhum dado encontrado...
                            </div>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
        </div>
    </div>
</section>