<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">Detalhes das Vendas</h4>
        </div>

        <div class="modal-body">
            <div class="box-body table-responsive no-padding">
                <?php if(count($vendas_produtos) > 0): ?>
                <table class="table table-hover" style="overflow-x: unset !important;">
                    <tbody>
                        <tr>
                            <th width="10%">Ticket Id</th>
                            <th width="20%">Data/Hora</th>
                            <th width="30%">Cliente</th>
                            <th width="20%">Status</th>
                        </tr>
                        <?php foreach($vendas_produtos as $venda_produto):?>
                        <tr>
                            <td><?php echo $venda_produto->tic_id; ?></td>
                            <td><?php echo date('d/m/Y H:i:s', strtotime($venda_produto->tic_data_cadastro)); ?></td>
                            <td><?php echo $venda_produto->cli_nome;?></td>
                            <td>
                                <?php if($venda_produto->tic_cancelado): ?>
                                    <span style="color:red;"><i class="fa fa-ban"></i> <b>Compra Cancelada</b></span>
                                <?php elseif($venda_produto->tic_liberado_por): ?>
                                    <span style="color:orange;"><i class="fa fa-qrcode"></i> <b>Já utilizado</b></span>
                                <?php else: ?>
                                    <span style="color:green;"><i class="fa fa-check"></i> <b>Válido</b></span>
                                <?php endif; ?>
                            </td>
                        </tr>
                        <?php endforeach;?>
                    </tbody>
                </table>
                <?php else: ?>
                    <div class="col-md-12">
                        <div class="callout callout-info">
                           Nenhum dado encontrado...
                        </div>
                    </div>
                <?php endif; ?>
            </div>
        </div>
    </div>
</div>