<?php
    $numero_v = (isset($dados->numero_itens)) ? $dados->numero_itens : 20;
    $pesquisar_v = (isset($dados->pesquisar)) ? $dados->pesquisar : '';
    $evento_v = (isset($dados->evento)) ? $dados->evento : '';
    $data_inicio_v = (isset($dados->data_inicio)) ? $dados->data_inicio : '';
    $data_fim_v = (isset($dados->data_fim)) ? $dados->data_fim : '';
?>

<section class="content-header">
    <h1>
        Detalhes das Vendas de: <?php echo $vendedor->usu_nome; ?>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/painel"><i class="fa fa-dashboard"></i> Inicial</a></li>
        <li><a href="/painel"><i class="fa fa-stack-overflow"></i> Relatório Vendas</a></li>
        <li class="active">Detalhes</li>
    </ol>
</section>
<!-- /.content -->

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="row">

                        <div class="col-md-5 col-sm-12">
                            <form id="filtros" method="post" role="search" onsubmit="return false;">
                                <div class="visible-xs" style="margin-top: 10px;"></div>
                                <div class="input-group">
                                    <input type="search" name="pesquisar" class="form-control pull-right" placeholder="Pesquisar" value="<?php echo $pesquisar_v; ?>">
                                    <div class="input-group-btn">
                                        <span class="btn btn-default" onclick="limpaCampo(this);pagination('relatorio-vendedor', '/painel/relatorio-vendas/vendedor/<?php echo $vendedor->usu_id; ?>', '1');" style="cursor: pointer"><span class="glyphicon glyphicon-remove"></span></span>
                                        <button type="submit" id="btn-search" class="btn btn-default" onclick="pagination('relatorio-vendedor', '/painel/relatorio-vendas/vendedor/<?php echo $vendedor->usu_id; ?>', '1');"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="col-md-2 col-sm-6 col-xs-6">
                            <div class="visible-xs" style="margin-top: 10px;"></div>
                            <select name="evento" class="form-control" onchange="pagination('relatorio-vendedor', '/painel/relatorio-vendas/vendedor/<?php echo $vendedor->usu_id; ?>', '1');">
                                <option value="">Eventos</option>
                                <?php foreach ($eventos as $evento): ?>
                                    <option value="<?php echo $evento->eve_id; ?>" <?php echo ($evento_v == $evento->eve_id) ? 'selected' : ''; ?>><?php echo $evento->eve_nome; ?></option> 
                                <?php endforeach; ?>
                            </select>
                        </div>

                        <div class="col-md-2 col-sm-6 col-xs-6">
                            <div class="input-group date">
                                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                <input type="text" class="form-control pull-right" id="data_inicio" placeholder="Data Início" onchange="pagination('relatorio-vendedor', '/painel/relatorio-vendas/vendedor/<?php echo $vendedor->usu_id; ?>', '1');" value="<?php echo $data_inicio_v; ?>" name="data_inicio">
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-6 col-xs-6">
                            <div class="input-group date">
                                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                <input type="text" class="form-control pull-right" id="data_fim" placeholder="Data Fim" onchange="pagination('relatorio-vendedor', '/painel/relatorio-vendas/vendedor/<?php echo $vendedor->usu_id; ?>', '1');" value="<?php echo $data_fim_v; ?>" name="data_fim">
                            </div>
                        </div>

                        <div class="visible-xs" style="margin-top: 5px;"></div>

                    </div>

                </div>

                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <?php if(count($resultados) > 0): ?>
                    <table class="table table-hover" style="overflow-x: unset !important;">
                        <tbody>
                            <tr>
                                <th width="30%">Evento</th>
                                <th width="30%">Ticket</th>
                                <th width="10%" class="text-center">Vendidos</th>
                                <th width="10%" class="text-center">Cancelados</th>
                                <th width="10%" class="text-center">Total R$</th>
                                <th width="10%" class="text-center">Ações</th>
                            </tr>
                            <?php foreach($resultados as $resultado):?>
                            <tr>
                                <td><?php echo $resultado->eve_nome?></td>
                                <td><?php echo $resultado->evp_nome?></td>
                                <td class="text-center"><?php echo $resultado->totalAtivos; ?></td>
                                <td class="text-center"><?php echo $resultado->totalCancelado; ?></td>
                                <td class="text-center"><?php echo $resultado->soma; ?></td>
                                <td class="text-center">
                                    <a href="#" class="btn btn-primary btn-xs" onclick="modalDetalhesRelatorio(<?php echo $vendedor->usu_id; ?>, <?php echo $resultado->evp_id; ?>);">Eventos</a>
                                </td>
                            </tr>
                            <?php endforeach;?>
                        </tbody>
                    </table>

                    <?php echo $this->paginationControl($resultados, 'Sliding', 'partials/painel-admin/paginacao.phtml', array('tipo' => 'relatorio-vendedor', 'link' => '/painel/relatorio-vendas/vendedor/'.$vendedor->usu_id, 'numero_v' => $numero_v)); ?>

                    <?php else: ?>
                        <div class="col-md-12">
                            <div class="callout callout-info">
                               Nenhum dado encontrado...
                            </div>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal" tabindex="-1" role="dialog" id="modal-detalhes"></div>