<?php
    $numero_v = (isset($dados->numero_itens)) ? $dados->numero_itens : 20;
    $pesquisar_v = (isset($dados->pesquisar)) ? $dados->pesquisar : '';
?>

<section class="content-header">
    <h1>
        Eventos
    </h1>
    <ol class="breadcrumb">
        <li><a href="/painel"><i class="fa fa-dashboard"></i> Inicial</a></li>
        <li class="active">Eventos Disponíveis</li>
    </ol>
</section>
<!-- /.content -->

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="row">

                        <div class="col-md-5 col-sm-12">
                            <form id="filtros" method="post" role="search" onsubmit="return false;">
                                <div class="visible-xs" style="margin-top: 10px;"></div>
                                <div class="input-group">
                                    <input type="search" name="pesquisar" class="form-control pull-right" placeholder="Pesquisar" value="<?php echo $pesquisar_v; ?>">
                                    <div class="input-group-btn">
                                        <span class="btn btn-default" onclick="limpaCampo(this);pagination('evento', '/painel/eventos', '1');" style="cursor: pointer"><span class="glyphicon glyphicon-remove"></span></span>
                                        <button type="submit" id="btn-search" class="btn btn-default" onclick="pagination('evento', '/painel/eventos', '1');"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="visible-xs" style="margin-top: 5px;"></div>

                    </div>

                </div>

                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <?php if(count($eventos) > 0): ?>
                    <table class="table table-hover" style="overflow-x: unset !important;">
                        <tbody>
                            <tr>
                                <th width="1%"></th>
                                <th width="70%">Evento</th>
                                <th width="30%" class="text-center">Ações</th>
                            </tr>
                            <?php foreach($eventos as $evento):?>
                            <tr>
                                <td></td>
                                <td><?php echo $evento->eve_nome?></td>
                                <td class="text-center">
                                    <a class="btn btn-primary btn-xs" onclick="detalhesEvento(<?php echo $evento->eve_id; ?>)" class="btn btn-primary">Detalhes</a>

                                    <a href="/painel/eventos-pdv/<?= $evento->eve_id?>/produtos" class="btn btn-primary btn-xs">Tickets</a>
                                </td>
                            </tr>
                            <?php endforeach;?>
                        </tbody>
                    </table>

                    <?php echo $this->paginationControl($eventos, 'Sliding', 'partials/painel-admin/paginacao.phtml', array('tipo' => 'evento-pdv', 'link' => '/painel/eventos-pdv', 'numero_v' => $numero_v)); ?>

                    <?php else: ?>
                        <div class="col-md-12">
                            <div class="callout callout-info">
                               Nenhum dado encontrado...
                            </div>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal" id="modal" tabindex="-1" role="dialog" aria-hidden="true"></div>