<div class="modal-dialog modal-md" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="exampleModalLabel">Detalhes Evento - <?php echo $evento->eve_nome; ?></h4>
		</div>

		<div class="modal-body">
			<div class="row">
				<div class="form-group col-xs-12 col-md-12">
                    <p><b>Local</b>: <?php echo $evento->eve_local; ?></p>
                    <p><b>Cidade</b>: <?php echo $evento->eve_cidade; ?></p>
	            </div>
	        </div>
		</div>
	</div>
</div>