<?= $this->doctype() ?>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>QR Pass | Painel Administrativo</title>
		<!-- Tell the browser to be responsive to screen width -->
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

		<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
		<link rel="manifest" href="/img/favicon/site.webmanifest">

		<!-- Bootstrap 3.3.7 -->
		<link rel="stylesheet" href="/plugins/adminlte-2.4.0/bower_components/bootstrap/dist/css/bootstrap.min.css">
		<!-- Font Awesome -->
		<link rel="stylesheet" href="/plugins/adminlte-2.4.0/bower_components/font-awesome/css/font-awesome.min.css">
		<!-- Ionicons -->
		<link rel="stylesheet" href="/plugins/adminlte-2.4.0/bower_components/Ionicons/css/ionicons.min.css">
		<!-- Theme style -->
		<link rel="stylesheet" href="/plugins/adminlte-2.4.0/dist/css/AdminLTE.min.css">
		<!-- AdminLTE Skins. Choose a skin from the css/skins
				 folder instead of downloading all of them to reduce the load. -->
		<link rel="stylesheet" href="/plugins/adminlte-2.4.0/dist/css/skins/_all-skins.min.css">
		<!-- Morris chart -->
		<link rel="stylesheet" href="/plugins/adminlte-2.4.0/bower_components/morris.js/morris.css">
		<!-- jvectormap -->
		<link rel="stylesheet" href="/plugins/adminlte-2.4.0/bower_components/jvectormap/jquery-jvectormap.css">
		<!-- Date Picker -->
		<link rel="stylesheet" href="/plugins/adminlte-2.4.0/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
		<!-- Daterange picker -->
		<link rel="stylesheet" href="/plugins/adminlte-2.4.0/bower_components/bootstrap-daterangepicker/daterangepicker.css">
		<!-- bootstrap wysihtml5 - text editor -->
		<link rel="stylesheet" href="/plugins/adminlte-2.4.0/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
		
		<link rel="stylesheet" href="/css/style.css">
		<!-- Google Font -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
	</head>

	<body class="skin-blue sidebar-mini wysihtml5-supported" style="height: auto; min-height: 100%;">
		<div class="wrapper" style="height: auto; min-height: 100%;">

			<?php echo $this->partial('partials/painel-admin/header.phtml'); ?>

			<?php if($this->usuario->usu_ust_id == 1): ?>
				<?php echo $this->partial('partials/painel-admin/menu-lateral-admin.phtml'); ?>
			<?php elseif($this->usuario->usu_ust_id == 2): ?>
				<?php echo $this->partial('partials/painel-admin/menu-lateral-portaria.phtml'); ?>
			<?php elseif($this->usuario->usu_ust_id == 3): ?>
				<?php echo $this->partial('partials/painel-admin/menu-lateral-pdv.phtml'); ?>
			<?php endif; ?>

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<?= $this->content ?>
			</div>
			<!-- /.content-wrapper -->

			<?php echo $this->partial('partials/painel-admin/footer.phtml'); ?>
		</div>
		<!-- ./wrapper -->

		<!-- jQuery 3 -->
		<script src="/plugins/adminlte-2.4.0/bower_components/jquery/dist/jquery.min.js"></script>
		<!-- jQuery UI 1.11.4 -->
		<script src="/plugins/adminlte-2.4.0/bower_components/jquery-ui/jquery-ui.min.js"></script>
		<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
		<script>
			$.widget.bridge('uibutton', $.ui.button);
		</script>
		<!-- Bootstrap 3.3.7 -->
		<script src="/plugins/adminlte-2.4.0/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<!-- Morris.js charts -->
		<script src="/plugins/adminlte-2.4.0/bower_components/raphael/raphael.min.js"></script>
		<script src="/plugins/adminlte-2.4.0/bower_components/morris.js/morris.min.js"></script>
		<!-- Sparkline -->
		<script src="/plugins/adminlte-2.4.0/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
		<!-- jvectormap -->
		<script src="/plugins/adminlte-2.4.0/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
		<script src="/plugins/adminlte-2.4.0/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
		<!-- daterangepicker -->
		<script src="/plugins/adminlte-2.4.0/bower_components/moment/min/moment.min.js"></script>
		<script src="/plugins/adminlte-2.4.0/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
		<!-- datepicker -->
		<script src="/plugins/adminlte-2.4.0/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
		<!-- Bootstrap WYSIHTML5 -->
		<script src="/plugins/adminlte-2.4.0/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
		<!-- Slimscroll -->
		<script src="/plugins/adminlte-2.4.0/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
		<!-- AdminLTE App -->
		<script src="/plugins/adminlte-2.4.0/dist/js/adminlte.min.js"></script>

		<script src="/plugins/sweetalert2/sweetalert2.min.js"></script>
		<link rel="stylesheet" href="/plugins/sweetalert2/sweetalert2.min.css" id="theme-styles">
		<link rel="stylesheet" href="/css/style.css" id="theme-styles">
		<script src="/js/geral.js"></script>
		<script type="text/javascript" src="/js/jquery.validate.min.js"></script>
		<script type="text/javascript" src="/js/jquery.mask.min.js"></script>
		<script type="text/javascript" src="/plugins/money-mask/moneymask.min.js"></script>
		<script src="/js/validacao.js"></script>
		<script src="/js/mascaras.js"></script>
		<?php echo $this->inlineScript(); ?>
	</body>
</html>