<META HTTP-EQUIV='Content-Type' CONTENT='text/html;charset=iso-8859-1'>
<div id='area' style='margin:20px auto; font-family: Arial, Helvetica, sans-serif; width:600px;'>
	<table style="font-family:Trebuchet MS;font-size:11px;color:#929292" width="600" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center">
	    <tbody>
	        <tr>
	            <td style="text-align:center" bgcolor="#FFFFFF">Sistema de controle de entrada em eventos sociais</td>
	        </tr>
	    </tbody>
	</table>
	<center>
		<?php /* Espaço para colocar imagem no e-mail caso necessário
		<img src='' alt='' style='border:none' border='0' />
		*/ ?>
	</center>
