<section class="content-header">
    <h1>
       <a title="Voltar" href="/painel/eventos/<?=$evento->eve_id;?>/produtos"><i class="fa fa-arrow-left fa-xs"></i></a> <?php echo $textButton?> Evento Produto
    </h1>
    <ol class="breadcrumb">
        <li><a href="/painel"><i class="fa fa-dashboard"></i> Inicial</a></li>
        <li><a href="/painel/eventos"><i class="fa fa-calendar"></i> Eventos</a></li>
        <li><a href="/painel/eventos/<?=$evento->eve_id;?>/produtos"><i class="fa fa-dropbox"></i> Produtos</a></li>
        <li class="active"><?php echo $textButton?> Evento Produto</li>
    </ol>
</section>
<!-- /.content -->

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <?= $this->form()->openTag($form)?>
            <div class="box">
                <div class="box-body">
                    <?= $this->formInput($form->get('evp_id'))?>
                    <?= $this->formInput($form->get('evp_eve_id'))?>
                    <div class="form-group col-xs-12 col-sm-6">
                        <?= $this->formLabel($form->get('evp_nome'))?>
                        <?= $this->formInput($form->get('evp_nome'))?>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6">
                        <?= $this->formLabel($form->get('evp_preco'))?>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                            <?= $this->formInput($form->get('evp_preco'))?>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button class="btn btn-primary pull-right" type="submit"><?php echo $textButton?></button>
                </div>
            </div>
            <?= $this->form()->closeTag()?>
        </div>
    </div>
</section>