<?php
    $numero_v = (isset($dados->numero_itens)) ? $dados->numero_itens : 20;
    $pesquisar_v = (isset($dados->pesquisar)) ? $dados->pesquisar : '';
    $status_v = (isset($dados->status)) ? $dados->status : '';
?>

<section class="content-header">
    <h1>
        <a title="Voltar" href="/painel/eventos"><i class="fa fa-arrow-left fa-xs"></i></a> Evento Produtos - <?php echo $evento->eve_nome; ?>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/painel"><i class="fa fa-dashboard"></i> Inicial</a></li>
        <li><a href="/painel/eventos"><i class="fa fa-calendar"></i> Eventos</a></li>
        <li class="active">Evento Produtos</li>
    </ol>
</section>
<!-- /.content -->

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="row">

                        <div class="col-md-3 col-sm-12">
                            <div class="box-tools">
                                <div class="visible-sm visible-md visible-lg visible-xs">
                                    <a href="/painel/eventos/<?=$evento->eve_id;?>/produtos/cadastrar" class="btn btn-primary">Cadastrar Produto</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5 col-sm-12">
                            <form id="filtros" method="post" role="search" onsubmit="return false;">
                                <div class="visible-xs" style="margin-top: 10px;"></div>
                                <div class="input-group">
                                    <input type="search" name="pesquisar" class="form-control pull-right" placeholder="Pesquisar" value="<?php echo $pesquisar_v; ?>">
                                    <div class="input-group-btn">
                                        <span class="btn btn-default" onclick="limpaCampo(this);pagination('evento_produto', '/painel/eventos/<?=$evento->eve_id;?>/produtos', '1');" style="cursor: pointer"><span class="glyphicon glyphicon-remove"></span></span>
                                        <button type="submit" id="btn-search" class="btn btn-default" onclick="pagination('evento_produto', '/painel/eventos/<?=$evento->eve_id;?>/produtos', '1');"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="visible-xs" style="margin-top: 5px;"></div>

                    </div>

                </div>

                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <?php if(count($evento_produtos) > 0): ?>
                    <table class="table table-hover" style="overflow-x: unset !important;">
                        <tbody>
                            <tr>
                                <th>#</th>
                                <th width="60%">Produto</th>
                                <th width="10%">Preço</th>
                                <th width="30%" class="text-center">Ações</th>
                            </tr>
                            <?php foreach($evento_produtos as $evento_produto):?>
                            <tr>
                                <td><?php echo $evento_produto->evp_id?></td>
                                <td><?php echo $evento_produto->evp_nome?></td>
                                <td><?php echo $evento_produto->evp_preco; ?>
                                </td>
                                <td class="text-center">
                                    <a href="/painel/eventos/<?= $evento->eve_id?>/produtos/editar/<?= $evento_produto->evp_id?>" class="btn btn-primary btn-xs">Editar</a>

                                    <a class="btn btn-danger btn-xs" onClick="excluirEventoProduto('<?=$evento->eve_id?>', '<?=$evento_produto->evp_id?>')">
                                        Excluir Produto
                                    </a>
                                </td>
                            </tr>
                            <?php endforeach;?>
                        </tbody>
                    </table>

                    <?php echo $this->paginationControl($evento_produtos, 'Sliding', 'partials/painel-admin/paginacao.phtml', array('tipo' => 'evento_produto', 'link' => '/painel/eventos/<?=$evento->eve_id;?>/produtos', 'numero_v' => $numero_v)); ?>

                    <?php else: ?>
                        <div class="col-md-12">
                            <div class="callout callout-info">
                               Nenhum dado encontrado...
                            </div>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
        </div>
    </div>
</section>