<?php 
    $fmt = new NumberFormatter( 'pt_BR', NumberFormatter::CURRENCY );
?>

<select name="produto" class="form-control">
    <option value="">Produto</option>
    <?php if(count($dados) > 0): ?>
	    <?php foreach ($dados as $produto): ?>
	        <option value="<?php echo $produto->evp_id; ?>"><?php echo $produto->evp_nome; ?> - <?= $fmt->formatCurrency($produto->evp_preco, "BRL"); ?></option> 
	    <?php endforeach; ?>
    <?php else: ?>
    	<option value="">Selecione um evento primeiro...</option>
	<?php endif; ?>
</select>