<?php 
    $fmt = new NumberFormatter( 'pt_BR', NumberFormatter::CURRENCY );
?>

<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		Inicial
	</h1>
	<ol class="breadcrumb">
		<li class="active"><i class="fa fa-dashboard"></i> Inicial</li>
	</ol>
</section>
<!-- /.content -->

<section class="content">
	<div class="row">
		
		<div class="col-lg-4 col-xs-6">
			<div class="small-box bg-green">
				<div class="inner">
					<h3><?php echo count($tickets); ?></h3>

					<p>Tickets Vendidos</p>
				</div>
				<div class="icon">
					<i class="ion ion-bag"></i>
				</div>
				<a href="/painel/vendas" class="small-box-footer">Efetuar Nova Venda <i class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div>

		<div class="col-lg-4 col-xs-6">
			<div class="small-box bg-aqua">
				<div class="inner">
					<h3>-</h3>

					<p>Relatórios de Vendas</p>
				</div>
				<div class="icon">
					<i class="fa fa-money"></i>
				</div>
				<a href="/painel/relatorios" class="small-box-footer">Mais informações <i class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div>

        <div class="col-lg-4 col-xs-6">
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3><?php echo count($eventos); ?></h3>

                    <p>Eventos Disponíveis</p>
                </div>
                <div class="icon">
                    <i class="fa fa-calendar"></i>
                </div>
                <a href="/painel/eventos-pdv" class="small-box-footer">Mais informações <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

	</div>

</section>