<?php 
    $fmt = new NumberFormatter( 'pt_BR', NumberFormatter::CURRENCY );
?>

<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		Inicial
	</h1>
	<ol class="breadcrumb">
		<li class="active"><i class="fa fa-dashboard"></i> Inicial</li>
	</ol>
</section>
<!-- /.content -->

<section class="content">
	<div class="row">
		
		<div class="col-lg-4 col-xs-6">
			<div class="small-box bg-green">
				<div class="inner">
					<h3>0</h3>

					<p>Tickets Vendidos</p>
				</div>
				<div class="icon">
					<i class="ion ion-bag"></i>
				</div>
				<a href="/painel/ticket?status=2" class="small-box-footer">Mais informações <i class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div>

		<div class="col-lg-4 col-xs-6">
			<div class="small-box bg-aqua">
				<div class="inner">
					<h3><?php echo count($clientes); ?></h3>

					<p>Clientes Registrados</p>
				</div>
				<div class="icon">
					<i class="fa fa-users"></i>
				</div>
				<a href="/painel/clientes" class="small-box-footer">Mais informações <i class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div>

        <div class="col-lg-4 col-xs-6">
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3><?php echo count($eventos_ativos); ?></h3>

                    <p>Eventos Ativos</p>
                </div>
                <div class="icon">
                    <i class="fa fa-calendar"></i>
                </div>
                <a href="/painel/ticket?status=1" class="small-box-footer">Mais informações <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

	</div>

	<div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Tickets Vendidos no mês</h3>
                </div>

                <div class="box-body">
                    <strong>Total:</strong> <?php echo $total_vendas; ?>
                    <div class="box-body">
                        <div class="chart">
                            <canvas id="myChart1" style="height: 151px; width: 310px;" height="453" width="930"></canvas>
                        </div> 
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Origem das Vendas no mês</h3>
                </div>

                <div class="box-body">
                    <strong>Total:</strong> <?php echo $total_vendas; ?>
                    <div class="chart">
                        <canvas id="myChart2" style="height: 151px; width: 310px;" height="453" width="930"></canvas>
                    </div> 
                </div>
            </div>
        </div>

	</div>
</section>

<script src="/plugins/chartjs/Chart.min.js"></script>
<script>
    var ctx1 = document.getElementById("myChart1");
    var myChart1 = new Chart(ctx1, {
        type: 'doughnut',
        data: {
            labels: [
                <?php foreach ($tickets_mes as $key => $ticket) {
                    echo "'".$ticket->eve_nome." - ".$ticket->evp_nome."'";
                    echo (($key+1) == count($tickets_mes)) ? "" : ",";
                }?>
            ],
            datasets: [{
                label: "Teste",
                data: [
                    <?php foreach ($tickets_mes as $key => $ticket) {
                    echo $ticket->count;
                    echo (($key+1) == count($tickets_mes)) ? "" : ",";
                    }?>
                ],
                backgroundColor: [
                	'#d2402e',
                    '#00a65a',
                    '#f39c12',
                    '#00c0ef',
                    '#3c8dbc',
                    '#d2d6de',
                    'rgba(135, 121, 78, 1)',
                    'rgba(118, 96, 138, 1)',
                    'rgba(0, 138, 0, 1)',
                    '#000' 
                ],
                borderColor: [ 
                	'#FFF',
                    '#FFF',
                    '#FFF',
                    '#FFF',
                    '#FFF',
                    '#FFF',
                    '#FFF',
                    '#FFF',
                    '#FFF'
                ],
            }]
        },
        options: {
            legend: {
                position: 'bottom'
            }
        }
    });
</script>

<script>
    var ctx2 = document.getElementById("myChart2");
    var myChart2 = new Chart(ctx2, {
        type: 'doughnut',
        data: {
            labels: [<?php foreach ($origem_vendas_mes as $key => $origem) {
                    echo "'".$origem->usu_nome."'";
                    echo (($key+1) == count($origem_vendas_mes)) ? "" : ",";
                }?>],
            datasets: [{
                label: "Teste",
                data: [
                    <?php foreach ($origem_vendas_mes as $key => $origem) {
                        echo $origem->count;
                        echo (($key+1) == count($origem_vendas_mes)) ? "" : ",";
                    }?>
                ],
                backgroundColor: [
                    '#d2402e',
                    '#00a65a',
                    '#f39c12',
                    '#00c0ef',
                    '#3c8dbc',
                    '#d2d6de',
                    'rgba(135, 121, 78, 1)',
                    'rgba(118, 96, 138, 1)',
                    'rgba(0, 138, 0, 1)',
                    '#000',
                ],
                borderColor: [ 
                    '#FFF',
                    '#FFF',
                    '#FFF',
                    '#FFF',
                    '#FFF',
                    '#FFF',
                    '#FFF',
                    '#FFF',
                    '#FFF'
                ],
            }]
        },
        options: {
            legend: {
                position: 'bottom'
            }
        }
    });
</script>